# generic files to ignore
# backup files (*~) and vim swap file (.swp), MacOS dir file (.DS_Store)
*~
*.lock
*.DS_Store
*.swp
*.out
paper/al-hallak_bullinger_audio-metadaten.pdf

# TeX files to ignore (Netbeans, Eclipse)
*.aux
*.log
*.toc
*.nav
*.snm
